body {
  font-family: sans-serif, helvetica;
  margin: 0;
  padding: 0;
  background: rgb(158, 129, 245);
  color: #333;
}


/*rgb(158, 129, 245)*/

header {
  position: fixed;            
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(139, 104, 243);
  color: rgb(102, 85, 152);
  display:flex;            
  justify-content:space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  
}

/* nav */
nav ul {
  list-style: none;
  display: flex;             
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

nav a:hover,
nav a.active {
  background: hsla(0, 0%, 0%, 0.137);
}

/* c */

main {
  padding: 2rem;
  padding-top: 100px; 
  max-width: 900px;
  margin: auto;
}

/*welcome page index*/
.indexh1{
  position:absolute;
  top: 40%;
  left: 40%;
  color: #fff; 
  text-decoration: solid;
  font-size: 40px; 
  text-align: center;

}


footer {
  font-size: smaller;
  text-align: center;
  margin: 0%;
  padding: 1rem;
  color: rgb(45, 45, 45);
}
  




.gif{
 
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: bottom;

}

.gruam{
  max-width: 30%;
  padding-left: 150px;
  float:inline-end;
  
}

.content{
  display: flex;
  align-items: left;
  width: 100%;
}

.gun{
  width: 40%;
  float: inline-start;
}

.logo{
  width: 50px;
  height: 50px;
}


/* galleria  */
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 70%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);

}


/* contact */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

button {
  padding: 0.75rem;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background: #555;
}





