body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(158, 129, 245);
  color: #333;
}


/*rgb(158, 129, 245)*/

header {
  position: fixed;            
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(139, 104, 243);
  color: rgb(102, 85, 152);
  display:flex;            
  justify-content:space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  z-index: 1000;              /* Keep it above all other elements */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  
}

/* NAV MENU */
nav ul {
  list-style: none;
  display: flex;             
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

nav a:hover,
nav a.active {
  background: hsla(0, 0%, 0%, 0.137);
}

/* MAIN CONTENT*/

main {
  padding: 2rem;
  padding-top: 100px; 
  max-width: 900px;
  margin: auto;
}


.hero {
  
  /*background: rgba(129, 99, 219, 0.609);*/
  padding: 5rem 2rem;
  margin: 8rem;
  border-radius: 10px;
  background-image:url(images/miniongif.gif);
  
}


/* .content {
  background: rgb(125, 86, 241);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* ====== GALLERY  */
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: rem;
}

.gallery img {
  width: 70%;
  border-radius: 8px;
  transition: transform 0.3s;*/
}

.gallery img:hover {
  transform: scale(1.05);
  img;

}

.image1{
  float: right;
}

/* ====== CONTACT FORM ====== */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

button {
  padding: 0.75rem;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #555;
}

/*CV*/


/* ====== FOOTER ====== */
footer {
  font-size: smaller;
  text-align: center;
  
  padding: 1rem;
  background: rgb(158, 129, 245);
  color: rgb(45, 45, 45);
  margin-top: 2rem;

}


.logo{
  border-radius: 8px;
  box-shadow: inset;
  
}